html
h1 Nuevo Usuario
form(method="POST", action="/create")
  p Name:
    input(type="text" name="name")
  p Last Name:
    input(type="text" name="lastName")
  p Fecha de nacimiento:
    input(type="date" name="birthdate")
  p Password:
    input(type="password" name="password")  	
  p
    button(type="submit") Enviar
    button(type="submit") Borrar